DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfoInputs.cache
Minimal API Project/.vs/Minimal API Project/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
Minimal API Project/.vs/Minimal API Project/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
Minimal API Project/.vs/Minimal API Project/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
Minimal API Project/.vs/Minimal API Project/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
Minimal API Project/.vs/Minimal API Project/FileContentIndex/1efa61c7-f602-4475-9522-ddfd909186af.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/3240b470-9e75-4828-8277-a5db795c6caa.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/7a0db32e-047a-4a82-82a2-d247753d5396.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/8fd821cb-2add-4dc0-9cbd-93b3258d156f.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/b335f8fe-5ce3-414b-9ba4-3eea72641794.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/e23297f1-fcac-4bd7-a09a-0c668220393f.vsidx
UserDB/UserDB.dbmdl
UserDB/UserDB.jfm
UserDB/UserDB.jfm
UserDB/UserDB.dbmdl
Minimal API Project/.vs/Minimal API Project/FileContentIndex/e23297f1-fcac-4bd7-a09a-0c668220393f.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/8fd821cb-2add-4dc0-9cbd-93b3258d156f.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/7a0db32e-047a-4a82-82a2-d247753d5396.vsidx
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfoInputs.cache
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfoInputs.cache
Minimal API Project/.vs/Minimal API Project/FileContentIndex/7a0db32e-047a-4a82-82a2-d247753d5396.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/8fd821cb-2add-4dc0-9cbd-93b3258d156f.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/e23297f1-fcac-4bd7-a09a-0c668220393f.vsidx
UserDB/UserDB.dbmdl
UserDB/UserDB.jfm
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfoInputs.cache
Minimal API Project/.vs/Minimal API Project/FileContentIndex/7a0db32e-047a-4a82-82a2-d247753d5396.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/8fd821cb-2add-4dc0-9cbd-93b3258d156f.vsidx
Minimal API Project/.vs/Minimal API Project/FileContentIndex/e23297f1-fcac-4bd7-a09a-0c668220393f.vsidx
UserDB/UserDB.dbmdl
UserDB/UserDB.jfm
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfo.cs
DataAccess/obj/Debug/net6.0/DataAccess.AssemblyInfoInputs.cache
Minimal API Project/.vs/Minimal API Project/CopilotIndices/17.13.444.19527/CodeChunks.db
UserDB/UserDB.jfm
